[Unit]
Description= Service to run the BESS controller program
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/home/pi/bess_controller/envvars
ExecStart=/home/pi/bess_controller/bess_controller_rpi -f /home/pi/bess_controller/config.json
Restart=always
RestartSec=16
StandardOutput=journal
StandardError=journal
WorkingDirectory=/home/pi/bess_controller

[Install]
WantedBy=multi-user.target