meters:
  acuvim2:
    "Mains incomer":
      id: 9fe7c7fa-f0f7-4998-b9bc-330adab2ec4c
      host: 192.168.8.110:502
      pollIntervalSecs: 2
      pt1: 400
      pt2: 400
      ct1: 1250
      ct2: 5
    "Tesla battery inverter":
      id: 8333c68b-d5e0-4caf-94f7-0e97c78b913a
      host: 192.168.8.111:502
      pollIntervalSecs: 2
      pt1: 400
      pt2: 400
      ct1: 1000
      ct2: 5
    "EV":
      id: 39666f1c-8165-478b-92be-b9941cf46d4d
      host: 192.168.8.113:502
      pollIntervalSecs: 2
      pt1: 400
      pt2: 400
      ct1: 400
      ct2: 5
    "Housing feeder 1":
      id: b4cf6c49-c577-48f0-8a49-9d3c5c3764c9
      host: 192.168.8.112:502
      pollIntervalSecs: 2
      pt1: 400
      pt2: 400
      ct1: 400
      ct2: 5
    "Housing feeder 2":
      id: f46075b4-3a8b-4a6a-a9ca-1022902b335b
      host: 192.168.8.114:502
      pollIntervalSecs: 2
      pt1: 400
      pt2: 400
      ct1: 400
      ct2: 5

bess:
  powerPack:
    host: 192.168.8.51:502
    id: 539cab31-6c7f-44ae-bd6a-744af19d8d0c
    pollIntervalSecs: 2
    nameplatePower: 565
    nameplateEnergy: 1609
    teslaOptions:
      inverterRampRateUp: 75
      inverterRampRateDown: 75
      alwaysActive: false

dataPlatforms:
  - # QA supabase
    uploadIntervalSecs: 60
    supabase:
      url: https://rkzgrxssutcwrauaazjz.supabase.co
      schema: flows
      anonKeyEnvVar: SUPABASE_ANON_KEY_QA
      userKeyEnvVar: SUPABASE_USER_KEY_QA
  - # Prod supabase
    uploadIntervalSecs: 60
    supabase:
      url: https://pqlwxerasppsyleweruk.supabase.co
      schema: flows
      anonKeyEnvVar: SUPABASE_ANON_KEY_PROD
      userKeyEnvVar: SUPABASE_USER_KEY_PROD

axle:
  host: "www.placeholder.energy"  # TODO
  usernameEnvVar: AXLE_USERNAME
  passwordEnvVar: AXLE_PASSWORD
  telemetryUploadIntervalSecs: 60
  schedulePollIntervalSecs: 60
  hardcodedScheduleAPIResponse: |
    [
      {
          "start_timestamp": "2025-05-07T00:00:00+01:00",
          "end_timestamp": "2025-05-07T03:00:00+01:00",
          "action": "charge_max",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-07T17:00:00+01:00",
          "end_timestamp": "2025-05-07T19:00:00+01:00",
          "action": "avoid_export",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-08T00:00:00+01:00",
          "end_timestamp": "2025-05-08T03:00:00+01:00",
          "action": "charge_max",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-08T17:00:00+01:00",
          "end_timestamp": "2025-05-08T19:00:00+01:00",
          "action": "avoid_export",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-09T00:00:00+01:00",
          "end_timestamp": "2025-05-09T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-10T00:00:00+01:00",
          "end_timestamp": "2025-05-10T03:00:00+01:00",
          "action": "charge_max",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-10T17:00:00+01:00",
          "end_timestamp": "2025-05-10T19:00:00+01:00",
          "action": "avoid_export",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-11T00:00:00+01:00",
          "end_timestamp": "2025-05-11T03:00:00+01:00",
          "action": "charge_max",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-11T17:00:00+01:00",
          "end_timestamp": "2025-05-11T19:00:00+01:00",
          "action": "avoid_export",
          "allow_deviation": false
      },
      {
          "start_timestamp": "2025-05-12T00:00:00+01:00",
          "end_timestamp": "2025-05-12T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-13T00:00:00+01:00",
          "end_timestamp": "2025-05-13T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-14T00:00:00+01:00",
          "end_timestamp": "2025-05-14T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-15T00:00:00+01:00",
          "end_timestamp": "2025-05-15T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-16T00:00:00+01:00",
          "end_timestamp": "2025-05-16T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-17T00:00:00+01:00",
          "end_timestamp": "2025-05-17T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-18T00:00:00+01:00",
          "end_timestamp": "2025-05-18T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-19T00:00:00+01:00",
          "end_timestamp": "2025-05-19T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-20T00:00:00+01:00",
          "end_timestamp": "2025-05-20T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-21T00:00:00+01:00",
          "end_timestamp": "2025-05-21T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-22T00:00:00+01:00",
          "end_timestamp": "2025-05-22T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-23T00:00:00+01:00",
          "end_timestamp": "2025-05-23T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-24T00:00:00+01:00",
          "end_timestamp": "2025-05-24T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-25T00:00:00+01:00",
          "end_timestamp": "2025-05-25T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-26T00:00:00+01:00",
          "end_timestamp": "2025-05-26T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-27T00:00:00+01:00",
          "end_timestamp": "2025-05-27T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-28T00:00:00+01:00",
          "end_timestamp": "2025-05-28T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-29T00:00:00+01:00",
          "end_timestamp": "2025-05-29T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-30T00:00:00+01:00",
          "end_timestamp": "2025-05-30T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-05-31T00:00:00+01:00",
          "end_timestamp": "2025-05-31T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-06-01T00:00:00+01:00",
          "end_timestamp": "2025-06-01T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-06-02T00:00:00+01:00",
          "end_timestamp": "2025-06-02T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      },
      {
          "start_timestamp": "2025-06-03T00:00:00+01:00",
          "end_timestamp": "2025-06-03T03:00:00+01:00",
          "action": "avoid_import",
          "allow_deviation": true
      }
    ] 

controller:
  siteMeter: 9fe7c7fa-f0f7-4998-b9bc-330adab2ec4c
  bessMeter: 8333c68b-d5e0-4caf-94f7-0e97c78b913a
  emulation:
    bessIsEmulated: false
    emulatedSiteMeter: null
  bessChargeEfficiency: 0.85
  bessSoeMin: 40
  bessSoeMax: 1800
  bessChargePowerLimit: 565
  bessDischargePowerLimit: 565
  siteImportPowerLimit: 220
  siteExportPowerLimit: 490
  controlComponents:
    importAvoidanceWhenShort:
      - shortPrediction:
          allowPrediction: true
          volumeCutoff: 0
          timeCutoffSecs: 1200  # 20mins
        period:
          days: all:Europe/London
          start: 00:00:00:Europe/London
          end: 23:59:59:Europe/London
    importAvoidance: []
    exportAvoidance:
      # Activate export avoidance at all times except weekday evening peaks
      - days: weekdays:Europe/London
        start: 00:00:00:Europe/London
        end: 17:00:00:Europe/London
      - days: weekdays:Europe/London
        start: 19:00:00:Europe/London
        end: 23:59:59:Europe/London
      - days: weekends:Europe/London
        start: 00:00:00:Europe/London
        end: 23:59:59:Europe/London
    chargeToSoe: []
    dischargeToSoe: []
      # To build a baseline we need to make sure there is enough headroom in the SoE before midnight for a 00:00 - 03:00 charge
      # - period:
      #     days: all:Europe/London
      #     start: 22:00:00:Europe/London
      #     end: 23:59:59:Europe/London
      #   soe: 1040 
    dynamicPeakDischarge:
      - 
        period:
          days: weekdays:Europe/London
          start: 17:00:00:Europe/London
          end: 19:00:00:Europe/London
        targetSoe: 40
        targetShortPeriods: true
        shortPrediction:
          allowPrediction: true
          volumeCutoff: 0
          timeCutoffSecs: 1200  # 20mins
        prioritiseResidualLoad: true
    dynamicPeakApproach:
      - 
        peakPeriod:
          days: weekdays:Europe/London
          start: 17:00:00:Europe/London
          end: 17:01:00:Europe/London
        toSoe: 1050
        encourageToSoe: 1280
        assumedChargePower: 200
        forceChargeDurationFactor: 1.25
        encourageChargeDurationFactor: 2.5
        chargeCushionMins: 90
        longPrediction:
          allowPrediction: true
          volumeCutoff: 150000
          timeCutoffSecs: 900
    nivChase:
      - period:
          days: weekdays:Europe/London
          start: 00:00:00:Europe/London
          end: 23:59:59:Europe/London
        niv:
          chargeCurve:
            points: [
              { "x": -99999, "y": 1800 },
              { "x": -2, "y": 1800 },
              { "x": 2, "y": 1100 },
              { "x": 6, "y": 1100 },
              { "x": 12, "y": 0 }
            ]
          dischargeCurve:
            points: [
              { "x": 8, "y": 1800 },
              { "x": 18, "y": 1100 },
              { "x": 25, "y": 1100 },
              { "x": 35, "y": 0 },
              { "x": 99999, "y": 0 }
            ]
          curveShiftLong: 4
          curveShiftShort: 2
          defaultPricing: []
          pricePrediction:
            whenShort:
              allowPrediction: true
              volumeCutoff: 250000
              timeCutoffSecs: 900
            whenLong:
              allowPrediction: true
              volumeCutoff: 150000
              timeCutoffSecs: 900
      - period:
          days: weekends:Europe/London
          start: 00:00:00:Europe/London
          end: 23:59:59:Europe/London
        niv:
          chargeCurve:
            points: [
              { "x": -99999, "y": 1800 },
              { "x": -2, "y": 1800 },
              { "x": 6, "y": 400 },
              { "x": 12, "y": 0 }
              ]
          dischargeCurve:
            points: [
              { "x": 8, "y": 1800 },
              { "x": 14, "y": 400 },
              { "x": 35, "y": 100 },
              { "x": 99999, "y": 0 }
            ]
          curveShiftLong: 0
          curveShiftShort: 0
          defaultPricing: []
          pricePrediction:
            whenShort:
              allowPrediction: true
              volumeCutoff: 250000
              timeCutoffSecs: 900
            whenLong:
              allowPrediction: true
              volumeCutoff: 150000
              timeCutoffSecs: 900

  ratesImport:
    - # Unify supplier import
      rate: 1
      periods:
        - days: all:Europe/London
          start: 00:00:00:Europe/London
          end: 23:59:59:Europe/London
    - # Final consumption levies
      rate: 1.8  # This accounts for BSUoS at 1.29p/kWh and assumes a NCSP of 0.9 for the remaining fees for 0.5p/kWh
      periods:
        - days: all:Europe/London
          start: 00:00:00:Europe/London
          end: 23:59:59:Europe/London
    - # DUoS red import
      rate: 10.983
      periods:
        - days: weekdays:Europe/London
          start: 17:00:00:Europe/London
          end: 19:00:00:Europe/London
    - # DUoS amber import
      rate: 0.499
      periods:
        - days: weekdays:Europe/London
          start: 07:30:00:Europe/London
          end: 17:00:00:Europe/London
        - days: weekdays:Europe/London
          start: 19:00:00:Europe/London
          end: 21:30:00:Europe/London
        - days: weekends:Europe/London
          start: 16:30:00:Europe/London
          end: 19:30:00:Europe/London
    - # DUoS green import
      rate: 0.034
      periods:
        - days: weekdays:Europe/London
          start: 00:00:00:Europe/London
          end: 07:30:00:Europe/London
        - days: weekdays:Europe/London
          start: 21:30:00:Europe/London
          end: 23:59:59:Europe/London
        - days: weekends:Europe/London
          start: 00:00:00:Europe/London
          end: 16:30:00:Europe/London
        - days: weekends:Europe/London
          start: 19:30:00:Europe/London
          end: 23:59:59:Europe/London
  ratesExport:
    - # DUoS red export
      rate: -10.4
      periods:
        - days: weekdays:Europe/London
          start: 17:00:00:Europe/London
          end: 19:00:00:Europe/London
    - # DUoS amber export
      rate: -0.52
      periods:
        - days: weekdays:Europe/London
          start: 07:30:00:Europe/London
          end: 17:00:00:Europe/London
        - days: weekdays:Europe/London
          start: 19:00:00:Europe/London
          end: 21:30:00:Europe/London
        - days: weekends:Europe/London
          start: 16:30:00:Europe/London
          end: 19:30:00:Europe/London
    - # DUoS green export
      rate: -0.037
      periods:
        - days: weekdays:Europe/London
          start: 00:00:00:Europe/London
          end: 07:30:00:Europe/London
        - days: weekdays:Europe/London
          start: 21:30:00:Europe/London
          end: 23:59:59:Europe/London
        - days: weekends:Europe/London
          start: 00:00:00:Europe/London
          end: 16:30:00:Europe/London
        - days: weekends:Europe/London
          start: 19:30:00:Europe/London
          end: 23:59:59:Europe/London
